.Header {
  background: rgba(250, 250, 250, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &,
  nav {
    // background: #000;
  }
}

.Footer {
  margin-top: 0;
  border-radius: 0;
  border: none;
}
